@import (inline) "jquery.mobile-1.4.3.min.css";


.colorband {
    height: 10px;
    width: 100%;
}
#legend {
    #entry {
        display: inline-block;
        width: 400px;
        vertical-align: top;
        margin: 10px;
    }
}