@import (inline) "jquery.mobile-1.4.3.min.css";


.colorband {
    height: 10px;
    width: 100%;
}
#entrySection {
    #entry {
        display: inline-block;
        width: 400px;
        vertical-align: top;
        margin: 10px;
    }
}
.grapharea {
    .leftAxis {
        position: absolute;
        top: 50px;
        bottom: 0;
        width: 40px;
    }
    .graph {
        position: absolute;
        left: 40px;
        top: 50px;
    }
}
.graphContainer {
    position: relative;
    height: 800px;
    width: 600px;
}